.gussie__views {
  &::after {
    display: block;
    content: "";
    width: 1000px;
    height: 1px;
    background: rgba(216, 216, 216, 0.5);
    margin-top: 20px;
    margin-bottom: 50px;
  }

  &-active {
    margin-left: 20px;
    &::after {
      display: none;
    }
  }
}

.playist__btn {
  width: 155px;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #ff0000;
  border-radius: 20px;
  border: none;
  margin-left: auto;
}

.playist__bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.playist__headingjon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.playist__title {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
}

.playist__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  width: 700px;
  opacity: 0.6;
}
