.heading__group{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.drink__image{
    margin-right: 20px;
}
.Drink__span{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}

.drink__heading{
    margin: 0;
    margin-right: 20px;
}